---
import Navigation from "../components/Navigation.astro";
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const pageTitle = "thoughts"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		<h1>{pageTitle}</h1>
        <p>my thoughts on life, technology, and the universe.</p>
        <ul>
            <li><a href="/posts/hello_world/">hello_world</a></li>
            <li><a href="/posts/creating_my_blog_with_astro/">Creating my blog with Astro</a></li>
        </ul>
		<Footer />
	</body>
</html>
