---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">home</a>
		<a href="/blog/">blog</a>
        <a href="/projects/">projects</a> 
        <a href="/about/">about</a>
		<h1>wandering...</h1>
        <p>in this blog, i'll write about my experiences and thoughts on life, technology, and the universe.</p>
	</body>
</html>
