---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from '../components/BlogPost.astro';
import { getCollection } from 'astro:content';

const pageTitle = "Depths";
const posts = await getCollection('depths');
const sortedPosts = posts.sort((a, b) => new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime());
---

<BaseLayout>
    <main class="max-w-2xl mx-auto px-4 py-16">
        <h1 class="text-4xl font-bold mb-4">{pageTitle}</h1>
        <p class="mb-8">Shall we dive?</p>
        <ul>
            {sortedPosts.map((post) => 
            <BlogPost
              url={`/depths/${post.id}`}
              title={post.data.title}f
              date={new Date(post.data.pubDate).toLocaleDateString('en-US', { month: 'short', year: '2-digit'})}
            />)}
        </ul>
    </main>
</BaseLayout>
