---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Welcome to my mind... 🌊"
---
<BaseLayout>
	<h1>{pageTitle}</h1>
	<p>Hey, I'm Divesh. Born in Panama to Indian and Colombian immigrants, now living in San Francisco, CA after studying in Boston, MA</p>

	<p>From Central America to East and then West, now  building <a href="https://versa.so">Versa</a> to enable peer-to-peer commerce, starting by automating food delivery sales in Latin America.

	<!-- <p>Long term vision is to connect merchants and consumers and facilitate commerce with more intuitive tooling. Offering features like direct communication and peer-to-peer payments to bring us back to more local and personalized experiences while achieving global scale.</p>  -->

	<p>Before, I was:</p>
	<ul>
		<li>An Entrepreneur in Residence at <a href="https://www.bvp.com">Bessemer Venture Partners</a></li>
		<li>An investor in blockchain and founder of <a href="https://www.bvp.com/news/building-the-web3-ecosystem-of-the-future">Steel DAO</a> while studying at MIT</li>
		<li>A consultant at McKinsey & Company
		<li>A banker at UBS</li>
		<li>An entrepreneur in DTC gaming peripherals and restaurants in Panama</li>
	</ul>

	<p>So yeah, I've jumped around geographies & industries quite a bit. But perhaps without knowing, this jumping has been a lifelong journey of truth-seeking. 
	</p>

	<p>If you also believe in a peer-to-peer future, where participants in the network are the ones who benefit the most, let's connect.
	</p>

	<!-- <p>Started this blog to share some of the learnings in this   while teaching myself how to code. At first, I thought of getting someone technical to build Versa, but along the way I realized this was a personal, creative and transformational journey that I had to endure. So I obsessed with coding. I obsessed about merchants. And I obsess about obsessing. And well, you get the point...</p> -->

</BaseLayout>
