---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Welcome to my mind... 🌊"
---
<BaseLayout>
	<h1 class="text-4xl font-bold mb-4">{pageTitle}</h1>
	<p class="mb-6">Hey, I'm Divesh. Born in Panama to Indian and Colombian parents, now living in San Francisco after studying in Boston.</p>

	<p class="mb-6">Raised at the crossroads of commerce in Central America, first went Northeast to study at MIT, then West to the frontier of technology in Silicon Valley.</p> 
		
	<p class="mb-6">Now building <a href="https://versa.so" class="text-sky-400 hover:text-sky-300">Versa</a> to enable peer-to-peer commerce with AI agents, starting by automating food delivery sales in Latin America.</p>

	<p class="mb-4">Before, I was:</p>
	<ul class="list-disc pl-6 mb-6 space-y-2">
		<li>An Entrepreneur in Residence at <a href="https://www.bvp.com" class="text-sky-400 hover:text-sky-300">Bessemer Venture Partners</a></li>
		<li>An investor in blockchain and founder of <a href="https://www.bvp.com/news/building-the-web3-ecosystem-of-the-future" class="text-sky-400 hover:text-sky-300">Steel DAO</a> while studying at MIT</li>
		<li>A consultant at McKinsey & Company</li>
		<li>A banker at UBS</li>
		<li>An entrepreneur in DTC gaming peripherals and a <a href="https://pitapit.ca/" class="text-sky-400 hover:text-sky-300">Pita Pit</a> franchisee in Panama</li>
	</ul>

	<p class="mb-6">So yeah, I've jumped around coasts & industries. But perhaps without knowing, this jumping has been a lifelong journey of truth-seeking.</p>

	<p class="mb-6">If you also believe in a peer-to-peer future, where participants in the network are the ones who benefit the most, let's connect. Send me an email at <a href="mailto:divesh@versa.so" class="text-sky-400 hover:text-sky-300">divesh@versa.so</a> or DM me on <a href="https://x.com/dpunjabi" class="text-sky-400 hover:text-sky-300">X</a>.</p>
</BaseLayout>
