---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Hey! I'm Divesh 🌴"
---
<BaseLayout>
	<h1>{pageTitle}</h1>
	<p>I was born and raised in Panama as Divesh Punjabi. I now live in San Francisco, CA.</p>

	<p>I'm building Versa to automate sales for merchants, starting with delivery sales for restaurants in Latin America. I'm blending LLMs with services like payments on messaging apps, starting with WhatsApp given its global use and rising adoption.</p>

	<p>My long term vision is to connect merchants and consumers and facilitate commerce with more intuitive tooling. Offering features like direct communication and peer-to-peer payments to bring us back to more local and personalized experiences while achieving global scale.</p> 

	<p>Before, I was an Entrepreneur in Residence at Bessemer Venture Partners, where I was a part-time investor in blockchain and founder of Steel DAO during my time as a student at MIT Sloan. Earlier, I was a consultant at McKinsey & Company, a banker at UBS, and ventured in other areas like restaurants and clubs in Panama.
	</p>

	<p>I started this blog to share my learnings on what it takes to solo a startup  while teaching myself how to code. At first, I thought of getting someone technical to build Versa, but along the way I realized this was a personal, creative and transformational journey that I had to endure. So I obsessed with coding. I obsessed about merchants. And I obsess about obsessing. And well, you get the point...</p>

</BaseLayout>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class ="nav-links">
		</div>
		<h1>{pageTitle}</h1>
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
