---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Music"
---

<BaseLayout pageTitle={pageTitle}>
	<h1 class="text-4xl font-bold mb-4">Creators</h1>
	<ul>
		<li>Four Tet</li>
		<li>Fred Again</li>
		<li>Nils Frahm</li>
		<li>Ólafur Arnalds</li>
		<li>Max Cooper</li>
	</ul>
</BaseLayout>