---
import '../styles/global.css';
const pageTitle = "explorations"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">home</a>
		<a href="/blog/">blog</a>
        <a href="/projects/">projects</a> 
        <a href="/books/">books</a>
        <a href="/about/">about</a>
		<h1>{pageTitle}</h1>
		<p>⚠️ work in progress: check back later!</p>
	</body>
</html>
